.head {
  display: grid;
  place-content: center;
  font-family: sans-serif;
  color: #1b4084;
}

.tabla-general {
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(173, 173, 173, 1);
  -moz-box-shadow: 5px 5px 20px 0px rgba(173, 173, 173, 1);
  box-shadow: 5px 5px 20px 0px rgba(173, 173, 173, 1);
}
